<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IFileService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/FileService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFileService" contract="Clients.IFileService"
                name="BasicHttpBinding_IFileService" />
            <!--<endpoint address="net.tcp://localhost/FileService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileService" contract="Clients.IFileService"
                name="NetTcpBinding_IFileService">
                <identity>
                    <userPrincipalName value="ENTERPRISE\shmac" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/FileService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IFileService" contract="Clients.IFileService"
                name="NetNamedPipeBinding_IFileService">
                <identity>
                    <userPrincipalName value="ENTERPRISE\shmac" />
                </identity>
            </endpoint>-->
        </client>
    </system.serviceModel>
</configuration>